# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=https://your-project-id.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=your-supabase-anon-key

# RevenueCat Configuration
NEXT_PUBLIC_REVENUECAT_IOS_KEY=your-revenuecat-ios-key

# Google Auth Configuration
GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret
NEXT_PUBLIC_GOOGLE_CLIENT_ID=1031627117513-v2uh5j60iodalgou66ighsc9ohivc7a8.apps.googleusercontent.com

# NextAuth Configuration (Jika masih digunakan)
NEXTAUTH_SECRET=your_nextauth_secret_random_string
NEXTAUTH_URL=http://localhost:3000
