# Supabase Configuration (Wajib)
# Ambil dari: Supabase Dashboard -> Project Settings -> API
NEXT_PUBLIC_SUPABASE_URL=https://your-project-id.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=your-supabase-anon-key

# RevenueCat Configuration (Wajib untuk iOS)
# Ambil dari: RevenueCat Dashboard -> Project Settings -> API Keys -> App Store (iOS)
NEXT_PUBLIC_REVENUECAT_IOS_KEY=your-revenuecat-ios-key

# Google Auth Configuration (Wajib untuk Login)
# Gunakan Client ID dari Google Cloud Console
NEXT_PUBLIC_GOOGLE_CLIENT_ID=1031627117513-v2uh5j60iodalgou66ighsc9ohivc7a8.apps.googleusercontent.com
NEXT_PUBLIC_GOOGLE_SERVER_CLIENT_ID=1002837023207-n0hgfsi8vu9u107bqvigiej06jbma312.apps.googleusercontent.com
NEXT_PUBLIC_GOOGLE_IOS_CLIENT_ID=1002837023207-imr2p14jh9ni0chtv0r8vmveoe4dgdnb.apps.googleusercontent.com

# AdMob Configuration (Opsional untuk Testing, Wajib untuk Production)
# Gunakan AdMob App ID dari Google AdMob Dashboard (Format: ca-app-pub-xxx~xxx)
NEXT_PUBLIC_GOOGLE_ADMOB_APP_ID=ca-app-pub-3940256099942544~1458002511

# Gunakan Ad Unit ID dari Google AdMob Dashboard (Format: ca-app-pub-xxx/xxx)
NEXT_PUBLIC_GOOGLE_ADMOB_UNIT_ID=ca-app-pub-3940256099942544/1712485313

